
.center {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

table {
    border: 1px black solid;
    height: 700px;
    width: 700px;
}


td {
    border: 1px black solid;
}

.o 
{
    background-color:red;
}

.button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%; width: 100%; object-fit: contain;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

.popup
{
    width: 400px;
    background: rgb(39, 40, 39);
    border-radius: 15px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #000;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.openPopup
{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2,h3
{
    color: FFF;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 10px black;
    cursor: pointer;
    outline: none;
}