body {
    text-align: center;
}

.main
{
    position: absolute;
    top: 20%;
}

.main p, h1, h4
{
    margin: 10px;
}

.button {
    background-color: red;
    border: none;
    height: inherit;
    padding: 4px 5px;
    width: inherit;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}