{% extends 'base.html' %}

{% block head %}
<title>CARO GAME</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/game.css')}}">
<script>
    function resize() {

        let size = "{{size}}"
        const x = "{{x}}"
        console.log(size)
        let square = 700 / size
        let td = document.getElementsByTagName('td')

        for (let i = 0; i < td.length; i++) {
            td[i].style.width = square + "px"
            td[i].style.height = square + "px"
        }
    }

    function choose(event) {
        const atag = event.classList.add('o');

    }

    function popUp()
    {
        let winner = "{{winner}}"
        if (winner != "No")
        {

        }
    }
</script>
{% endblock %}

{% block body %}

<body onload="resize();">
    <div class="container">
        <div class="popup">
            <img src="" alt="">
            <h2 >{{winner}} Won The Game</h2>
            <button class="button"> Close </button>
        </div>

        <div style="margin-left: 125px;">
            <h1 >CARO Game With AI</h1>
            <a href="" class="button">New game</a>
        </div>
        <table class="center">
            {% for i in range(0,size) %}
            <tr>
                {% for j in range(0,size) %}
                <td>
                    {% if matrix[i][j] == 0 and winner == "No" %}
                    <a onlick="choose(this)" class="button" href="draw/{{size}}.{{i}}.{{j}}"></a>
                    {% elif matrix[i][j] == -1 %}
                    <a onlick="choose(this)" class="button" style="background-image: url({{x}});" href="#"></a>
                    {% elif matrix[i][j] == 1 %}
                    <a onlick="choose(this)" class="button" style="background-image: url({{o}});" href="#"></a>
                    {% else %}
                    <a onlick="choose(this)" class="button" href="#"></a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>


    </div>
</body>
{% endblock %}