{% extends 'base.html' %}

{% block head %}
<title>CARO GAME</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/game.css')}}">
<script>
    function resize() {

        let size = "{{size}}"
        const x = "{{x}}"
        console.log(size)
        let square = 700 / size
        let td = document.getElementsByTagName('td')

        for (let i = 0; i < td.length; i++) {
            td[i].style.width = square + "px"
            td[i].style.height = square + "px"
        }
    }

    function choose(event)
    {
        const atag = event.classList.add('o');
        
    }
</script>
{% endblock %}

{% block body %}

<body onload="resize();">
    <h1>CARO Game With AI</h1>
    <table class="center">
        {% for i in range(0,size) %}
        <tr>
            {% for j in range(0,size) %}
            <td>
                {% if matrix[i][j] == 0 %} 
                    <a onlick="choose(this)" class="button" href="draw/{{size}}.{{i}}.{{j}}"></a>
                {% endif %}
                {% if matrix[i][j] == -1 %} 
                    <a onlick="choose(this)" class="button" style="background-image: url({{x}});" href=""></a>
                {% endif %}
                {% if matrix[i][j] == 1 %} 
                    <a onlick="choose(this)" class="button" style="background-image: url({{o}});" href=""></a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>


</body>
{% endblock %}